<html>
	<head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<title>44</title>
            <style>
                .stt
                {
                    font-size:15;
                    color:red;
                }
                .first 
                {
                    width:37%;
                    color:blue;
                    font-size:18;
                }
                .second
                {
                    font-size:18;
                }
                </style>
	</head>
	
	<body bgcolor=transparent>
	
<div class="post hentry">

<div class="post-body entry-content">
<div class="item-number" style="background-color: #fefefe; border-radius: 50%; border: 1px solid rgba(0, 0, 0, 0.541176); bottom: 0px; box-sizing: border-box; color: rgba(0, 0, 0, 0.541176); float: left; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 12px; height: 20px; line-height: 20px; margin: auto; max-width: 20px; position: relative; text-align: center; width: 20px;">
1</div>
<div class="content-grammar" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; margin-left: 40px;">
<div class="item-japanese" style="box-sizing: border-box; color: rgba(17, 3, 234, 0.811765); font-size: 18px;">
Biểu thị sự vượt quá giới hạn</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
「～すぎます」 biểu thị sự vượt quá giới hạn cho phép của một hành vi hoặc một trạng thái. Thông thường mẫu câu được dùng để nói về những điều không tốt.</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
ゆうべお酒を飲みすぎました。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Tối qua tôi uống rượu quá nhiều</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
このセーターは大きすぎます。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Cái áo len này rộng quá</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
「～すぎます」 là động từ thuộc nhóm II và chia cách theo nhóm này: のみすぎる , のみすぎ（ない）、のみすぎた</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
さいきんの車はそうさがかんたんすぎて。運転がおもしろくないです。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Ô tô gần đây thao tác đơn giản quá làm việc lái xe không thú vị</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
いくら好きでも。飲みすぎると、体にわるいですよ。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Cho dù thích như thế nào đi nữa thì uống nhiều quá là không có lợi cho sức khỏe đâu.</div>
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
<br></div>
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
<div class="item-number" style="border-radius: 50%; border: 1px solid rgba(0, 0, 0, 0.541176); bottom: 0px; box-sizing: border-box; color: rgba(0, 0, 0, 0.541176); float: left; font-size: 12px; height: 20px; line-height: 20px; margin: auto; max-width: 20px; position: relative; text-align: center; width: 20px;">
2</div>
<div class="content-grammar" style="box-sizing: border-box; color: #333333; margin-left: 40px;">
<div class="item-japanese" style="box-sizing: border-box; color: rgba(17, 3, 234, 0.811765); font-size: 18px;">
Việc gì là khó hay dễ</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
Dùng để biểu thị việc làm một việc gì đó là khó hay dễ</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
このパソコンは使いやすいです。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Cái máy vi tính này dễ sử dụng</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
東京は住みにくいです。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Tokyo khó sống</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
Dùng để biểu thị tính chất của chủ thế (người hoặc vật) là dễ hoặc khó thay đổi hoặc biểu thị việc gì đó là dễ hay khó xảy ra.</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
白いシャツはよごれやすいです。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Áo sơ mi trắng dễ bẩn</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
雨の日はせんたくものがかわきにくいです。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Ngày mưa thì quần áo giặt khó khô</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapr" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'R'" style="box-sizing: border-box; color: #fd0808;">
(Chú ý) : 「～やすい」 và 「～にくい」 chia cách giống tính từ đuôi い</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
この薬はさとうをいれると。飲みやすくなりますよ。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Thuốc này nếu cho đường vào sẽ dễ uống</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
このコップはわれにくくて。あんぜんですよ。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Cái cốc này khó vỡ nên an toàn</div>
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
<br></div>
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
<div class="item-number" style="border-radius: 50%; border: 1px solid rgba(0, 0, 0, 0.541176); bottom: 0px; box-sizing: border-box; color: rgba(0, 0, 0, 0.541176); float: left; font-size: 12px; height: 20px; line-height: 20px; margin: auto; max-width: 20px; position: relative; text-align: center; width: 20px;">
3</div>
<div class="content-grammar" style="box-sizing: border-box; color: #333333; margin-left: 40px;">
<div class="item-japanese" style="box-sizing: border-box; color: rgba(17, 3, 234, 0.811765); font-size: 18px;">
「～く、～に　なります」 làm biến đổi một đối tượng</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
Nếu như 「～く、～に　なります」 (bài 19) biểu thị việc biến đổi của một chủ thể thì () ở các ví dụ dưới đây biểu thị ai đó đã làm biến đổi một đối tượng</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
音をおおきくします</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Tôi chỉnh âm thanh to hơn</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
部屋をきれいにします</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Tôi làm sạch phòng</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
しおのりょうをはんぶんにしました。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Tôi giảm lượng muối chỉ còn một nửa</div>
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
<br></div>
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
<div class="item-number" style="border-radius: 50%; border: 1px solid rgba(0, 0, 0, 0.541176); bottom: 0px; box-sizing: border-box; color: rgba(0, 0, 0, 0.541176); float: left; font-size: 12px; height: 20px; line-height: 20px; margin: auto; max-width: 20px; position: relative; text-align: center; width: 20px;">
4</div>
<div class="content-grammar" style="box-sizing: border-box; color: #333333; margin-left: 40px;">
<div class="item-japanese" style="box-sizing: border-box; color: rgba(17, 3, 234, 0.811765); font-size: 18px;">
Danh từ に　します</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
Mẫu câu này dùng để biểu thị sự lựa chọn hoặc quyết định</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
へやはシングるにじますか。シインにしますか。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Anh/chị dùng phòng đơn hay phòng đôi ạ ?</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
かいぎはあしたにします。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Cuộc họp để ngày mai</div>
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
<br></div>
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
<div class="item-number" style="border-radius: 50%; border: 1px solid rgba(0, 0, 0, 0.541176); bottom: 0px; box-sizing: border-box; color: rgba(0, 0, 0, 0.541176); float: left; font-size: 12px; height: 20px; line-height: 20px; margin: auto; max-width: 20px; position: relative; text-align: center; width: 20px;">
5</div>
<div class="content-grammar" style="box-sizing: border-box; color: #333333; margin-left: 40px;">
<div class="item-japanese" style="box-sizing: border-box; color: rgba(17, 3, 234, 0.811765); font-size: 18px;">
Biến đổi tình từ thành phó từ</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
Khi biến đổi tính từ như trên chúng ta sẽ được các phó từ tương ứng</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
やさいをこまかく切ってください</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Hãy thái nhỏ rau</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
てんきやみずは大切につかいましょう。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Chúng ta hãy tiết kiệm điện</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

</div>
        </div>
	</body>
</html>