<html>
	<head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<title>41</title>
            <style>
                .stt
                {
                    font-size:15;
                    color:red;
                }
                .first 
                {
                    width:37%;
                    color:blue;
                    font-size:18;
                }
                .second
                {
                    font-size:18;
                }
                </style>
	</head>
	
	<body bgcolor=transparent>
	
<div class="post hentry">

<div class="post-body entry-content">
<div class="item-number" style="background-color: #fefefe; border-radius: 50%; border: 1px solid rgba(0, 0, 0, 0.541176); bottom: 0px; box-sizing: border-box; color: rgba(0, 0, 0, 0.541176); float: left; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 12px; height: 20px; line-height: 20px; margin: auto; max-width: 20px; position: relative; text-align: center; width: 20px;">
1</div>
<div class="content-grammar" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; margin-left: 40px;">
<div class="item-japanese" style="box-sizing: border-box; color: rgba(17, 3, 234, 0.811765); font-size: 18px;">
Cách nói cho nhận</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
Ở bài 7 và 24 chúng ta đã học cách nói cho nhận về đồ vật và hành vi. Ở trong bài này chúng ta sẽ học thêm những cách nói cho nhận khác, phản ảnh mối quan hệ giữa bên cho và bên nhận</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphaph" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'H'" style="box-sizing: border-box; font-weight: 700;">
Danh từ 1 に Danh từ 2 を　やります</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
Khi bên nhận là người dưới hoặc động thực vật thì chúng ta dùng　 「やります」 . Tuy nhiên gần đây đối với người thì thường dùng là 「あげます」</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
わたしはむすこにおかしをやりました（あげました）</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Tôi cho con　trai bánh kẹo</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
わたしは犬にえさをやりました。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Tôi cho chó ít đồ ăn</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphapr" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'R'" style="box-sizing: border-box; color: #fd0808;">
(Chú ý) :</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
Khi muốn biểu thị sự kính trọng đối với bên nhận thì chúng ta dùng 「さしあげます」</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphaph" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'H'" style="box-sizing: border-box; font-weight: 700;">
Danh từ 1 に Danh từ 2 を　いただきます</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
Khi nhận một cái gì đó từ người trên thì chúng ta không dùng 「もらいます」 mà dùng 「いただきます」</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
わたしはぶちょうにおみやげをいただきました。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Tôi được trưởng phỏng tặng quà</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphaph" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'H'" style="box-sizing: border-box; font-weight: 700;">
「わたしに」 Danh　từ を　くださいます。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
Khi người trên cho hoặc tặng cái gì đó cho mình thì chúng ta không dùng 「くれます」 mà dùng 「くださいます」</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
ぶちょうがわたしにおみやげをくださいました。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Trưởng phòng tặng tôi quà</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
「くださいます」 còn được dùng khi bên nhận là người trong gia đình của người nói</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
ぶちょうがむすめにおみやげをくださいました</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Tổ trưởng tặng quà cho con gái tôi</div>
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
<br></div>
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
<div class="item-number" style="border-radius: 50%; border: 1px solid rgba(0, 0, 0, 0.541176); bottom: 0px; box-sizing: border-box; color: rgba(0, 0, 0, 0.541176); float: left; font-size: 12px; height: 20px; line-height: 20px; margin: auto; max-width: 20px; position: relative; text-align: center; width: 20px;">
2</div>
<div class="content-grammar" style="box-sizing: border-box; color: #333333; margin-left: 40px;">
<div class="item-japanese" style="box-sizing: border-box; color: rgba(17, 3, 234, 0.811765); font-size: 18px;">
Cho nhận về hành vi</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
「やります」 「いただきます」 「くださいます」 cũng được dùng trong trường hợp cho nhận về hành vi. Các ví dụ dưới đây biểu thị điều đó.</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
Động từ thể て　やります</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
わたしはむすこにかみひこうきをつくってやりました（あげました）</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Tôi làm máy bay cho con trai</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
わたしは犬をさんぽにつれていってやりました。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Tôi dẫn chó đi dạo</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
わたしはむすめのしゅくだいを見てやりました（あげました）</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Tôi xem bài về nhà cho con gái</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapr" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'R'" style="box-sizing: border-box; color: #fd0808;">
(Chú ý) : tương tự như 「～てあげます」 học ở bài 24 , 「～て　さしあげます」 cũng dễ mang lại ấn tượng “ra vẻ, khoe khoang” vì thế tránh dùng để nói trực tiếp với người trên</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
Động từ thể て　いただきます</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
わたしはかちょうに手紙のまちがいをなおしていただきました。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Tôi được tổ trưởng sửa cho chỗ sai ở lá thư</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
Động từ thể て　くださいます</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
ぶちょうのおくさんは 「わたしに」 お茶をおしえてくださいました。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Vợ trưởng phòng dạy trà đạo cho tôi</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
ぶちょうは 「わたしを」 えきまでおくってくださいました。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Trưởng phòng tiễn tôi ra tận ga</div>
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
<br></div>
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
<div class="item-number" style="border-radius: 50%; border: 1px solid rgba(0, 0, 0, 0.541176); bottom: 0px; box-sizing: border-box; color: rgba(0, 0, 0, 0.541176); float: left; font-size: 12px; height: 20px; line-height: 20px; margin: auto; max-width: 20px; position: relative; text-align: center; width: 20px;">
3</div>
<div class="content-grammar" style="box-sizing: border-box; color: #333333; margin-left: 40px;">
<div class="item-japanese" style="box-sizing: border-box; color: rgba(17, 3, 234, 0.811765); font-size: 18px;">
Động từ thể て　くださいませんか。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
Đây là cách nói ở mức độ lịch sự cao, nhưng so với 「～て</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
いただけませんか」 học ở bài 26 thì không bằng</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
コピーきの使い方を教えてくださいませんか。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Anh/chị làm ơn chỉ cho tôi cách dùng cái máy photocopy này được không.</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
コピーきの使い方を教えていただけませんか。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Anh/chị làm ơn chỉ cho tôi cách dùng cái máy photocopy này được không. (bài 26)</div>
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
<br></div>
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
<div class="item-number" style="border-radius: 50%; border: 1px solid rgba(0, 0, 0, 0.541176); bottom: 0px; box-sizing: border-box; color: rgba(0, 0, 0, 0.541176); float: left; font-size: 12px; height: 20px; line-height: 20px; margin: auto; max-width: 20px; position: relative; text-align: center; width: 20px;">
4</div>
<div class="content-grammar" style="box-sizing: border-box; color: #333333; margin-left: 40px;">
<div class="item-japanese" style="box-sizing: border-box; color: rgba(17, 3, 234, 0.811765); font-size: 18px;">
Danh từ に Động từ</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
Trợ từ　 「に」 ở đây mang nghĩa là 「làm ~ 」 「để làm ~」 (quà, kỷ niệm v. v. )</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
田中さんがけっこんのおいわいにこのおさらをくださいました。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Anh Tanaka tặng tôi cái đĩa làm quà cưới</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
わたしはほっかいどうりょうこうのおみやげににんぎょうをかいました。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Tôi mua con búp bê để làm quà của chuyến du lịch Hokkaido.</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

</div>

</div>
        
	</body>
</html>