<html>
	<head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<title>26</title>
            <style>
                .stt
                {
                    font-size:15;
                    color:red;
                }
                .first 
                {
                    width:37%;
                    color:blue;
                    font-size:18;
                }
                .second
                {
                    font-size:18;
                }
                </style>
	</head>
	
	<body bgcolor=transparent>
	
<div class="post hentry">

<div class="post-body entry-content">
<div class="item-number" style="background-color: #fefefe; border-radius: 50%; border: 1px solid rgba(0, 0, 0, 0.541176); bottom: 0px; box-sizing: border-box; color: rgba(0, 0, 0, 0.541176); float: left; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 12px; height: 20px; line-height: 20px; margin: auto; max-width: 20px; position: relative; text-align: center; width: 20px;">
1</div>
<div class="content-grammar" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; margin-left: 40px;">
<div class="item-japanese" style="box-sizing: border-box; color: rgba(17, 3, 234, 0.811765); font-size: 18px;">
Giãi thích nguyên nhân, lý do, căn cứ</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
「～んです」 được dùng để nhấn mạnh ý nghĩa giải thích về nguyên nhân, lý do, căn cứ v. v. Trong văn nói thì dùng 「～んです」 , còn trong văn viết thì dùng 「～のです」 . 「～んです」 được dùng như sau</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphaph" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'H'" style="box-sizing: border-box; font-weight: 700;">
～んですか</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
Mẫu câu này được dùng trong các trường hợp sau:</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
Trường hợp người nói phỏng đoán và xác nhận nguyên nhân hoặc lý do đối với những gì mà mình đã nghe hoặc nhìn thấy</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
わたなべさんはときどきおおさかべんを使いますね。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Chị Watanabe đôi lúc nói giọng Osaka nhỉ.</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
おおさかに住んでいたんですか。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Chị đã sống ở Osaka à?</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
ええ。１５さいまでおおさか住んでいました。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Vâng, tôi sống ở Osaka cho đến năm 15 tuổi</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
Trường hợp người nói muốn được cung cấp thêm thông tin về những gì mình nghe hoặc nhìn thấy</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
おもしろい　デザインのくつですね。どこでかったんですか。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Kiểu thiết kế đôi giầy của anh thú vị nhỉ. Anh mua ở đâu thế?</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
エドヤストアで買いました。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Tôi mua ở cửa hàng Edo-Ya Store.</div>
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
<br></div>
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
<div class="item-number" style="border-radius: 50%; border: 1px solid rgba(0, 0, 0, 0.541176); bottom: 0px; box-sizing: border-box; color: rgba(0, 0, 0, 0.541176); float: left; font-size: 12px; height: 20px; line-height: 20px; margin: auto; max-width: 20px; position: relative; text-align: center; width: 20px;">
2</div>
<div class="content-grammar" style="box-sizing: border-box; color: #333333; margin-left: 40px;">
<div class="item-japanese" style="box-sizing: border-box; color: rgba(17, 3, 234, 0.811765); font-size: 18px;">
Giãi thích nguyên nhân, lý do, căn cứ 1</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
Trường hợp người nói muốn được nghe giải thích về nguyên nhân hoặc lý do đối với những gì mình nghe hoặc nhìn thấy</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
どうしておくれたんですか。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Tại sao anh lại đến muộn</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
Trường hợp muốn được giải thích về một tình trạng hay trạng thái nào đó</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
どうしたんですか。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Anh/chị bị sao thế ?</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapr" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'R'" style="box-sizing: border-box; color: #fd0808;">
[Chú ý]</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
Đôi lúc 「～んですか」 biểu thị sự ngạc nhiên, nghi ngờ hoặc tò mò của người nói. Nếu dùng không thích hợp có thể gây ra sự khó chịu cho người nghe. Vì thế cần chú đến cách dùng mẫu câu này</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphaph" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'H'" style="box-sizing: border-box; font-weight: 700;">
～んです</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
Mẫu câu này được dùng trong những trường hợp sau</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
Trường hợp muốn trình bày về nguyên nhân hoặc lý do để trả lời cho mục ( c ) ( d ) của phần 1 ở trên</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
どうしておくれたんですか。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Tại sao anh đến muộn?</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
バスがこなかったんです。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
…Vì xe buýt không đến</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
どうしたんですか。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Anh chị bị sao thế?</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
ちょっときぶんがわるいんです。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
…Tôi cảm thấy người không khỏe.</div>
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
<br></div>
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
<div class="item-number" style="border-radius: 50%; border: 1px solid rgba(0, 0, 0, 0.541176); bottom: 0px; box-sizing: border-box; color: rgba(0, 0, 0, 0.541176); float: left; font-size: 12px; height: 20px; line-height: 20px; margin: auto; max-width: 20px; position: relative; text-align: center; width: 20px;">
3</div>
<div class="content-grammar" style="box-sizing: border-box; color: #333333; margin-left: 40px;">
<div class="item-japanese" style="box-sizing: border-box; color: rgba(17, 3, 234, 0.811765); font-size: 18px;">
Giãi thích nguyên nhân, lý do, căn cứ 2</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
Trường hợp người nói muốn thêm vào nguyên nhân hoặc lý do đối với những gì mình nói trước đó</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
毎朝、新聞をよみますか。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Hàng sáng anh có đọc báo không?</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
いいえ。時間がないんです。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
.. Không, tôi không có thời gian</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapr" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'R'" style="box-sizing: border-box; color: #fd0808;">
(Chú ý) :</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
Trong những trường hợp như ở ví dụ sau, khi chỉ nói về những sự thực đơn thuần thì không dùng （んです）</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
わたしはマイクミラーです。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Tôi là Mike Miller</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
わたしはマイクミラーなんです（ＳＡＩ）</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphaph" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'H'" style="box-sizing: border-box; font-weight: 700;">
3. ～んですが、～</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
「～んですが」 có chức năng mở đầu câu chuyện mà người nói muốn trình bày. Phần tiếp theo là câu đề nghị mời gọi hoặc câu xin phép.</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
Từ 「が」 trong trường hợp này được dùng để nối các về của câu văn, nó biểu thị sắc thái ngập ngừng, đắn đo của người nói. Trong những trường hợp như ở ví dụ dưới đây, khi mà tình huống ở vế tiếp theo 「～んですが」 đã rõ đối với cả người nói và người nghe thì vế này thường được lược bỏ</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
日本語で手紙をかいたんですか。ちょっと見ていただけませんか。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Tôi viết thư bằng tiếng Nhật. Anh xem giúp tôi một chút có được không</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
ＮＨＫを見学したいんですが。どうしたらいいですか。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Tôi muốn đến thăm quan hãng NHK. Tôi phải làm thế nào?</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
おゆが出ないんですが。。。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Nước nóng không chảy ra.</div>
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
<br></div>
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
<div class="item-number" style="border-radius: 50%; border: 1px solid rgba(0, 0, 0, 0.541176); bottom: 0px; box-sizing: border-box; color: rgba(0, 0, 0, 0.541176); float: left; font-size: 12px; height: 20px; line-height: 20px; margin: auto; max-width: 20px; position: relative; text-align: center; width: 20px;">
4</div>
<div class="content-grammar" style="box-sizing: border-box; color: #333333; margin-left: 40px;">
<div class="item-japanese" style="box-sizing: border-box; color: rgba(17, 3, 234, 0.811765); font-size: 18px;">
Động từ thể て+ いただけませんか。 (cho tôi ~ có được không)</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
Đây là mẫu câu đề nghị ở mức độ lịch sự cao hơn mẫu câu 「～てください」</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
いい先生をしょうかいしていただけませんか。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Anh/chị giới thiệu cho tôi một giáo viên tốt được không ?</div>
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
<br></div>
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
<div class="item-number" style="border-radius: 50%; border: 1px solid rgba(0, 0, 0, 0.541176); bottom: 0px; box-sizing: border-box; color: rgba(0, 0, 0, 0.541176); float: left; font-size: 12px; height: 20px; line-height: 20px; margin: auto; max-width: 20px; position: relative; text-align: center; width: 20px;">
5</div>
<div class="content-grammar" style="box-sizing: border-box; color: #333333; margin-left: 40px;">
<div class="item-japanese" style="box-sizing: border-box; color: rgba(17, 3, 234, 0.811765); font-size: 18px;">
Động từ thể た + らいいですか。 (tôi nên/phải ~ (từ nghi vấn) thì tốt)</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
どこでカメらを買ったらいいですか。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Tôi nên mua máy ảnh ở đâu?</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
こまかいお金がないんですが。どうしたらいいですか。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Tôi không có tiền lẻ. Tôi phải làm thế nào?</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
「～たらいいですか」 là mẫu câu dùng khi người nói muốn người nghe khuyên bảo hoặc hướng dẫn mình phải làm gì hoặc nên làm gì trong 1 tình huống nào đó. Chẳng hạn như ở ví dụ trên, người nói muốn mua máy ảnh nhưng không biết ở đâu bán. Vì thế người nói dùng mẫu câu này để nhờ người nghe giới thiệu cho mình một cửa hàng tốt bán máy ảnh.</div>
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
<br></div>
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
<div class="item-number" style="border-radius: 50%; border: 1px solid rgba(0, 0, 0, 0.541176); bottom: 0px; box-sizing: border-box; color: rgba(0, 0, 0, 0.541176); float: left; font-size: 12px; height: 20px; line-height: 20px; margin: auto; max-width: 20px; position: relative; text-align: center; width: 20px;">
6</div>
<div class="content-grammar" style="box-sizing: border-box; margin-left: 40px;">
<div class="item-japanese" style="box-sizing: border-box; color: rgba(17, 3, 234, 0.811765); font-size: 18px;">
Tân ngữ làm chủ đề</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
うんどうかいにさんかしますか。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Anh có tham gia đại hội thể thao không.</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
。。。いいえ。スポーツはあまりすきじゃないんです。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Không. Tôi không thích thể thao lắm</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
Chúng ta đã học ở bài 10 và bài 17 rằng chủ ngữ, và cả tân ngữ được biểu thị bằng trợ từ 「を」 , đều có thể trở thành chủ đề của câu văn và được hiển thị bằng trợ từ 「は」 . Tân ngữ được biểu thị bằng trợ từ 「が」 cũng có thể trở thành chủ đề của câu văn nếu chuyển 「が」 thành 「は」</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
        
	</body>
</html>