<html>
	<head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<title>24</title>
            <style>
                .stt
                {
                    font-size:15;
                    color:red;
                }
                .first 
                {
                    width:37%;
                    color:blue;
                    font-size:18;
                }
                .second
                {
                    font-size:18;
                }
                </style>
	</head>
	
	<body bgcolor=transparent>

<div class="post hentry">

<div class="post-body entry-content">
<div class="item-number" style="background-color: #fefefe; border-radius: 50%; border: 1px solid rgba(0, 0, 0, 0.541176); bottom: 0px; box-sizing: border-box; color: rgba(0, 0, 0, 0.541176); float: left; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 12px; height: 20px; line-height: 20px; margin: auto; max-width: 20px; position: relative; text-align: center; width: 20px;">
1</div>
<div class="content-grammar" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; margin-left: 40px;">
<div class="item-japanese" style="box-sizing: border-box; color: rgba(17, 3, 234, 0.811765); font-size: 18px;">
くれます</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
Ở bài 7 chúng ta đã học về động từ 「あげます」 với nghĩa là cho, tặng. Nhưng trong trường hợp người nhận là người nói hoặc là thành viên trong gia đình của người nói thì động từ không thể dùng được 「ｘさとうさんはわたしにクリスマスカードをあげました」 mà thay vào đó chúng ta dùng động từ 「くれます」</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
Tôi đã tặng hoa cho chị Sato</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
わたしはさとうさんに花をあげました。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
さとさんはわたしにクリスマスかードをくれました。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Chị Sato đã tặng tôi thiếp mừng Giáng Sinh</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
さとうさんはいもうとにおかしをくれました。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Chị Sato đã cho em gái tôi bánh kẹo</div>
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
<br></div>
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
<div class="item-number" style="border-radius: 50%; border: 1px solid rgba(0, 0, 0, 0.541176); bottom: 0px; box-sizing: border-box; color: rgba(0, 0, 0, 0.541176); float: left; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 12px; height: 20px; line-height: 20px; margin: auto; max-width: 20px; position: relative; text-align: center; width: 20px;">
2</div>
<div class="content-grammar" style="box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; margin-left: 40px;">
<div class="item-japanese" style="box-sizing: border-box; color: rgba(17, 3, 234, 0.811765); font-size: 18px;">
あげます\もらいます\くれます</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
Các động từ 「あげます」 , 「もらいます」 , 「くれます」 được dùng để biểu thị sự cho nhận đồ vật, nhưng chính chúng cũng có thể được dùng kèm với động từ để biểu thị một cách rõ ràng việc ai đó làm một cái gì cho ai, đồng thời cũng biểu thị lòng tốt hoặc sự cảm ơn. Trong trường hợp này thì động từ đi kèm sẽ ở thể て.</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; padding: 3px;">
<div class="nguphaph" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'H'" style="box-sizing: border-box; font-weight: 700;">
Động từ thể 「てあげます」</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
Biểu thị một người nào đó làm một việc tốt cho ai đó với thiện ý</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
わたしはくむらさんに本をかしてあげました。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Tôi cho chị Kimura mượn sách</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
Vì thế trong trường hợp chủ thể của hành động là bản thân người nói thì nên tránh dùng cách nói này với người không thân hoặc người trên vì như thế có thể mang lại ấn tượng là người nói muốn&nbsp;<span style="box-sizing: border-box; font-weight: 700;">ra vẻ, khoe khoang</span>.<br>
<br>
<div class="item-number" style="border-radius: 50%; border: 1px solid rgba(0, 0, 0, 0.541176); bottom: 0px; box-sizing: border-box; color: rgba(0, 0, 0, 0.541176); float: left; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 12px; height: 20px; line-height: 20px; margin: auto; max-width: 20px; position: relative; text-align: center; width: 20px;">
3</div>
<div class="content-grammar" style="box-sizing: border-box; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; margin-left: 40px;">
<div class="item-japanese" style="box-sizing: border-box; color: rgba(17, 3, 234, 0.811765); font-size: 18px;">
Danh từ (người) が Động từ</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
すてきなネクタイですね。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Cái cà vạt đẹp nhỉ</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
ええ。さとうさんがくれました。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Vâng, chị Sato tặng tôi đấy ạ</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
Trong mẫu câu này, khi người nghe nói về cái cà vạt 「すてきなネクタイですね」 thì người nói bổ sung thêm thông tin mới về cái cà vạt đó 「（このネクタイは）さとうさんがくれました」 . Trong mệnh đề biểu thị thông tin mới thì chủ ngữ được dùng kèm với trợ từ 「が」</div>
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
<br></div>
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
<div class="item-number" style="border-radius: 50%; border: 1px solid rgba(0, 0, 0, 0.541176); bottom: 0px; box-sizing: border-box; color: rgba(0, 0, 0, 0.541176); float: left; font-size: 12px; height: 20px; line-height: 20px; margin: auto; max-width: 20px; position: relative; text-align: center; width: 20px;">
4</div>
<div class="content-grammar" style="box-sizing: border-box; margin-left: 40px;">
<div class="item-japanese" style="box-sizing: border-box; color: rgba(17, 3, 234, 0.811765); font-size: 18px;">
Từ nghi vấn が Động từ</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
Chúng ta đã học ở bài 10 (câu với các động từ (あります。います) ) và bài 12 (câu tính từ) rằng khi từ nghi vấn là chủ ngữ thì nó được biểu thị bằng trợ từ 「が」 . Không chỉ đối với câu nghi vấn nói trên, mà đối với tất cả các câu nghi vấn có từ nghi vấn làm chủ ngữ thì chúng ta đều dùng 「が」 để biểu thị</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
だれがてつだいに行きますか。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Ai sẽ đi để giúp?</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
カリナさんが行きます。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Chị Karina sẽ đi</div>
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
<br></div>
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
<div class="item-number" style="border-radius: 50%; border: 1px solid rgba(0, 0, 0, 0.541176); bottom: 0px; box-sizing: border-box; color: rgba(0, 0, 0, 0.541176); float: left; font-size: 12px; height: 20px; line-height: 20px; margin: auto; max-width: 20px; position: relative; text-align: center; width: 20px;">
5</div>
<div class="content-grammar" style="box-sizing: border-box; color: #333333; margin-left: 40px;">
<div class="item-japanese" style="box-sizing: border-box; color: rgba(17, 3, 234, 0.811765); font-size: 18px;">
あげます\もらいます\くれます 1</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
Thêm nữa trong trường hợp quan hệ giữa người nói và người nghe không được thân mật lắm và người nói muốn đề nghị làm một việc gì tốt mang lại lợi ích cho người nghe thì dùng mẫu câu (Động từ thể　ますましょうか) (tham khảo mục 6 bài 14).</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
タクシーをよびましょうか。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Tôi gọi taxi cho anh/chị nhé.</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
手伝いましょうか。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Tôi giúp anh/chị nhé.</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphaph" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'H'" style="box-sizing: border-box; font-weight: 700;">
Động từ thể てもらいます</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
わたしは山田さんに図書館のでんわばんぼうをおしえてもらいました。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Tôi (đã) được anh/chị Yamada cho biết số điện thoại của thư viện.</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
Mẫu câu này biểu thị sự biết ơn của bên tiếp nhận hành vi tốt.</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphaph" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'H'" style="box-sizing: border-box; font-weight: 700;">
Động từ thể てくれます</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
母は 「わたしに」 セーターをおくってくれました。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Mẹ gửi (cho tôi) một cái áo len</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
Cũng giống như (Động từ thể てもらいます), mẫu câu này biểu thị sự biết ơn của bên tiếp nhận hành vi tốt. Tuy nhiên nếu như ở mẫu câu (Động từ thểてもらいます) chủ ngữ là đối tượng thực hiện hành vi, và mẫu câu này mang một sắc thái rõ rằng đối tượng này là chủ động thực hiện hành vi.</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
Thêm vào đó, ở mẫu câu này trong trường hợp đối tượng tiếp nhận hành vi là bản thân người nói thì thông thường phần 「わたしに」 bị lược bỏ.</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div>
	   </div>
	</body>
</html>