<html>
	<head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<title>43</title>
            <style>
                .stt
                {
                    font-size:15;
                    color:red;
                }
                .first 
                {
                    width:37%;
                    color:blue;
                    font-size:18;
                }
                .second
                {
                    font-size:18;
                }
                </style>
	</head>
	
	<body bgcolor=transparent>
	
<div class="post hentry">

<div class="post-body entry-content">
<div class="item-number" style="background-color: #fefefe; border-radius: 50%; border: 1px solid rgba(0, 0, 0, 0.541176); bottom: 0px; box-sizing: border-box; color: rgba(0, 0, 0, 0.541176); float: left; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 12px; height: 20px; line-height: 20px; margin: auto; max-width: 20px; position: relative; text-align: center; width: 20px;">
1</div>
<div class="content-grammar" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; margin-left: 40px;">
<div class="item-japanese" style="box-sizing: border-box; color: rgba(17, 3, 234, 0.811765); font-size: 18px;">
Diễn tả sự suy đoán</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
Mẫu câu này về cơ bản diễn tả sự suy đoán dựa trên thông tin thu thập được từ thị giác</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphaph" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'H'" style="box-sizing: border-box; font-weight: 700;">
Động từ thể ます　そうです</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
Mẫu câu này được dùng khi một trạng thái nào đó khiến người nói suy đoán rằng một sự việc nào đó có vẻ sẽ xảy ra. Chúng ta có thể dùng 「いまにも」 「もうすぐ」 「これから」 đi kèm để nói về thời điểm mà sự việc được suy đoán xảy ra</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
今にも雨がふりそうです。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Trời có vẻ sắp mưa đến nơi rôi</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
シャンプーがなくなりそうです。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Dầu gội đầu có vẻ sắp hết rồi</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
もうすぐさくらがさきそうです</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="background-color: #fefefe; box-sizing: border-box; color: #333333; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 16px; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Hoa anh đào trông có vẻ sắp nở.</div>
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
<br></div>
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
<div class="item-number" style="border-radius: 50%; border: 1px solid rgba(0, 0, 0, 0.541176); bottom: 0px; box-sizing: border-box; color: rgba(0, 0, 0, 0.541176); float: left; font-size: 12px; height: 20px; line-height: 20px; margin: auto; max-width: 20px; position: relative; text-align: center; width: 20px;">
2</div>
<div class="content-grammar" style="box-sizing: border-box; color: #333333; margin-left: 40px;">
<div class="item-japanese" style="box-sizing: border-box; color: rgba(17, 3, 234, 0.811765); font-size: 18px;">
Diễn tả sự suy đoán</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
Mẫu câu này diễn tả sự suy đoán dựa trên vẻ bề ngoài của sự vật, dù chưa xác nhận thực tế như thế nào.</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
この料理はからそうです。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Món ăn này trông có vẻ cay</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
かのじょはあたまがよさそうです。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Cô ấy trông có vẻ thông minh</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
このつくえはじょうぶそうです。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Cái bàn này trông có vẻ chắc chắn</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapr" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'R'" style="box-sizing: border-box; color: #fd0808;">
(Chú ý) :</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
Đối với tính từ biểu thị tình cảm, tâm trạng 「うれしい」 「かなしい」 「さびしい」 thì chúng ta không để nguyên như thế để nói về tâm trạng , tình cảm của người khác mà chúng ta dùng chúng ở dạng 「そうです」 để biểu thị sự suy đoán từ vẻ ngoài</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
ミラーさんはうれしそうです。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Anh Miller trông có vẻ vui.</div>
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
<br></div>
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
<div class="item-number" style="border-radius: 50%; border: 1px solid rgba(0, 0, 0, 0.541176); bottom: 0px; box-sizing: border-box; color: rgba(0, 0, 0, 0.541176); float: left; font-size: 12px; height: 20px; line-height: 20px; margin: auto; max-width: 20px; position: relative; text-align: center; width: 20px;">
3</div>
<div class="content-grammar" style="box-sizing: border-box; color: #333333; margin-left: 40px;">
<div class="item-japanese" style="box-sizing: border-box; color: rgba(17, 3, 234, 0.811765); font-size: 18px;">
Động từ thể て　来ます</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
Động từ thể てきます diễn đạt ý nghĩa “đi đến một địa điểm nào đó để thực hiện một hành động nào đó rồi quay trở về”</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
ちょっとたばこを買って来ます。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Tôi đi mua thuốc lá một chút rồi về</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
Câu ở ví dụ trên này là biểu thị ba nội dung là (1) tôi đi đến địa điểm bán thuốc lá (2) mua thuốc là ở đó và (3) quy trở về vị trí ban đầu. Ở đây chúng ta dùng 「で」 để biểu thị địa điểm. Nhưng cũng có thể dùng 「から」 khi sự di chuyển của đồ vật là tiêu điểm của câu, như ở ví dụ dưới đây</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
スーパーでぎゅうにゅうを買って来ます。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Tôi đi mua sữa ở siêu thị (rồi về)</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
だいところからコップをとって来ます。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Tôi đi lấy cái cốc từ bếp</div>
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
<br></div>
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
<div class="item-number" style="border-radius: 50%; border: 1px solid rgba(0, 0, 0, 0.541176); bottom: 0px; box-sizing: border-box; color: rgba(0, 0, 0, 0.541176); float: left; font-size: 12px; height: 20px; line-height: 20px; margin: auto; max-width: 20px; position: relative; text-align: center; width: 20px;">
4</div>
<div class="content-grammar" style="box-sizing: border-box; color: #333333; margin-left: 40px;">
<div class="item-japanese" style="box-sizing: border-box; color: rgba(17, 3, 234, 0.811765); font-size: 18px;">
Danh từ (địa điểm) へ行って　来ます</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
Trong mẫu câu này thì động từ 「いきます」 ở thể て được đặt trước 「きます」 để biểu thị ý nghĩa “đi đến một địa điểm nào đó rồi quay trở về”.</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
ゆうびんきょくへ行って来ます。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Tôi đi bưu điện (rồi về)</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapc" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'C'" style="box-sizing: border-box;">
Trong mẫu câu này thì động từ 「でかけます」 ở thể て được đặt trước 「きます」 để biểu thị ý nghĩa “đi đâu đó ra ngoài rồi quay trở về “.</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphape" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'E'" style="box-sizing: border-box; color: #d75aec;">
ちょっとでかけて来ます。</div>
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
</div>
<div class="toggle-grammar" ng-repeat="content in grammar.content track by $index" style="box-sizing: border-box; color: #333333; padding: 3px;">
<div class="nguphapt" ng-bind-html="grammar.content[$index + 1]" ng-if="content == 'T'" style="box-sizing: border-box; color: #0bb581;">
Tôi đi ra ngoài một chút rồi về</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

</div>
        </div>
	</body>
</html>